{% extends 'admin/master.html' %}
{% block body %}
Options View
<form role="form" method='POST' action='/admin/options/'>
  <label for="update_league">Update the league tables...</label>
  <button name="update_league" value="update_league" id="update_league" type="submit" class="btn btn-default">Go!</button>
  <br>
  <label for="calculate_laegue_stats">Calculate stats...</label>
  <button name="calculate_league_stats" value="calculate_league_stats" id="calculate_league_stats" type="submit" class="btn btn-default">Go!</button>
</form>
{% endblock %}

