<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </head>
  <body ng-controller="PhoneListController">

    <p>Nothing here {{'yet' + '!'}}</p>
    <p>1 + 2 = {{1 + 2}}</p>

    <ul>
      {% raw %}
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>
          {{phone.snippet}}
        </p>
      </li>
      {% endraw %}
    </ul>
    
  </body>
</html>
